@import url(https://use.typekit.net/zrl3cwh.css);

/*General for page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Footer always at end */    

html, body {
    height: 100%;
    overflow-x:hidden;
}
#content {
    min-height: 100%;
}
#main {
    padding-bottom: 200px;
    min-height: 1000px;
}
#footer {
    position: relative;
    height: 200px;
    margin-top: -200px;
    clear:both;
}


/*Web colors*/
:root {
    --text01:#111;
    --text02:#fff;
    --text03:#444;
    --background01: #fff;    
    --background02:#fefefe;
    --background03: #191919;
    --background04: #eee;
    --accent: yellow;
}


/*Complete body*/

body{
    min-height: 100vh;
    background-color:var(--background02);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*General text definition*/

/*Used for: photography collection title, */
h1{
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color:var(--text01);
    text-decoration: none;
    text-align: left;
    padding-bottom:10px;
}

/*Used for: */
h2{
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    color:var(--text01);
    text-decoration: none;
    text-align: left;
    padding-bottom:10px;
}

/*Used for: Photograph titles*/
h3{
    font-family: lft-etica-mono, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    color:var(--text01);
    text-decoration: none;
    text-align: center;
}

/*Used for: */
h4{
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color:var(--text01);
    text-decoration: none;
    text-align: left;
    padding-bottom:10px;
    }

/*Used for: cg collection title */
h5{
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color:var(--text01);
    text-decoration: none;
    text-align: left;
    padding-bottom:10px;
    }

/*Used for: */    
p{
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    color:var(--text01);
    text-decoration: none;
    text-align: left;
    padding-bottom:10px;
}

/*Used for: */
a{
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    color:var(--text01);
    text-decoration: none;
}

a:hover{
    font-weight: 700;
}


li {
    list-style:none;
}

button{
    font-family: raleway, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    color:var(--text01);
    padding: 15px;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--background01);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

button:hover{
    font-weight: 700;
}


/*General section definition*/

    /*Margin 50px section*/
    .section01{
        margin:50px;
    }


/*Special text definition*/

.font_default{
    font-family:default;
}

.font_mono{
    font-family: lft-etica-mono, sans-serif;
}

.font_p_mono{
    font-family: lft-etica-mono, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 9px;
    color: var(--text02);
}

.font_futura{
    font-family:futura-pt;
}

.font_garamond{
    font-family:garamond-pt;
}




/*Navigation top definition*/

nav{
    background-color: var(--background01);
    height: 80px;
    position: fixed cover;
    top: 0px;
    z-index: 100;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 80px
}
nav a{
    height: 100%;
    padding: 0px 50px;
    display: flex;
    align-items: center;
}
nav li:first-child {
    margin-right: auto;
    color:rgb(255, 255, 255);
}

/*Navigation sidebar definition*/

.sidebar a{
    width: 100%;
    color: var(--text01);
    }


.sidebar a:hover{
    font-weight: 700;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

@media(max-width: 825px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


/*Footer definition*/

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background:var(--background02);
    color: var(--text01);
    margin: 0px 0px;
    padding: 0em 0px 0px 0px;
    border-top: 1px solid var(--text03);
}

#footerbutton {
    margin-bottom: 0px;
}




































